{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
<h1>Liste des auteurs</h1>
<table border="1">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>
                    <a href="{{ path('delete', {'id': author.id}) }}">Supprimer</a>
                    <a href="{{ path('edit_app', {'id': author.id}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 <td> <a href={{"add"}}>Ajouter Auteur </a></td>
  <td> <a href={{"tri"}}>TRI ASC </a></td>
   <td> <a href={{"tridsc"}}>TRI DSC </a></td>
</div>

{% endblock %}

